
*
!src/

!src/ADC/
!src/DMA/
!src/gpt/
!src/ICM_20948/
!src/IIC/
!src/OLED/
!src/STP_23L/
!src/test/
!src/Test_LQZ/
!src/UART/
!src/ADC/**
!src/DMA/**
!src/gpt/**
!src/ICM_20948/**
!src/IIC/**
!src/OLED/**
!src/STP_23L/**
!src/test/**
!src/Test_LQZ/**
!src/UART/**
!src/hal_entry.c
!src/hal_warmstart.c
!configuration.xml
!.gitignore